In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
df=pd.read_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy_dataset.csv')

In [2]:
df.head()

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
0,F,37933,Faasos - Wraps & Rolls,6fe9caf1-02a7-4e66-83bb-1b4ff296b683,Ahmedabad,Vastrapur,4.2,500+ ratings,['Combo' 'Snacks' 'Beverages' 'Desserts' 'Indi...,₹200 FOR TWO,44,44,44,SHOP NO 2 HOTEL SHAHI PALACE VASTRAPUR LAKE AH...,HOTEL SHAHI PALACE,False,False,NaN
1,F,81814,Burger King,10083576-d32d-4a0e-8a82-3236ef342a19,Ahmedabad,Ellisbridge,4.2,1000+ ratings,['American' 'Fast Food'],₹350 FOR TWO,33,33,33,SHOP # 5 GR FLR THIRD EYE 2PANCHAVATI CIRCLE O...,3rd Eye II Ellis Bridge CG Road,False,False,NaN
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],₹200 FOR TWO,28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN
3,F,328315,HIIT Meals,81ab4019-2445-4aef-aff2-04beccd641d9,Ahmedabad,Vishala,--,Too Few Ratings,['Fast Food' 'Combo' 'Snacks' 'North Indian' '...,₹150 FOR TWO,51,51,51,C11 Rajyash Rise Near Vishala Restaurant Vasna...,Vasna,False,False,NaN
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],₹250 FOR TWO,29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN

In [3]:
df.shape

(8691, 18)

In [4]:
df.isnull().sum()

type                     0
id                       0
name                     0
uuid                     3
city                     0
area                     0
avgRating                0
totalRatingsString       0
cuisines                 0
costForTwoStrings        0
deliveryTime             0
minDeliveryTime          0
maxDeliveryTime          0
address                  9
locality                10
unserviceable            6
veg                      6
City                  8691
dtype: int64

In [5]:
df['area'].replace({'Ambavadi':'Ambawadi'},inplace=True)

### Ahmedabad

In [6]:
df1=df[(df['city']=='Ahmedabad')]

In [7]:
df1

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
0,F,37933,Faasos - Wraps & Rolls,6fe9caf1-02a7-4e66-83bb-1b4ff296b683,Ahmedabad,Vastrapur,4.2,500+ ratings,['Combo' 'Snacks' 'Beverages' 'Desserts' 'Indi...,₹200 FOR TWO,44,44,44,SHOP NO 2 HOTEL SHAHI PALACE VASTRAPUR LAKE AH...,HOTEL SHAHI PALACE,False,False,NaN
1,F,81814,Burger King,10083576-d32d-4a0e-8a82-3236ef342a19,Ahmedabad,Ellisbridge,4.2,1000+ ratings,['American' 'Fast Food'],₹350 FOR TWO,33,33,33,SHOP # 5 GR FLR THIRD EYE 2PANCHAVATI CIRCLE O...,3rd Eye II Ellis Bridge CG Road,False,False,NaN
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],₹200 FOR TWO,28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN
3,F,328315,HIIT Meals,81ab4019-2445-4aef-aff2-04beccd641d9,Ahmedabad,Vishala,--,Too Few Ratings,['Fast Food' 'Combo' 'Snacks' 'North Indian' '...,₹150 FOR TWO,51,51,51,C11 Rajyash Rise Near Vishala Restaurant Vasna...,Vasna,False,False,NaN
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],₹250 FOR TWO,29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,F,386004,Sher-e-punjab dhaba,907b012b-191e-42fc-b0e6-abd9577b760e,Ahmedabad,Chandkheda,3.3,20+ ratings,['Punjabi' 'Indian'],₹300 FOR TWO,82,82,82,Sher E Punjab Hotel Opp IOC D Cabin Sabarmati...,Chandkheda,False,False,NaN
715,F,179449,Jay Ambe Bhajipav And Pulav,6fcce966-c12b-4268-8094-bc8a3e5f543f,Ahmedabad,Motera,4,20+ ratings,['Fast Food'],₹200 FOR TWO,73,73,73,SHOP NO.16 DEVPREET COMPLEX OPP. VISHWAKARMA E...,MOTERA,False,False,NaN
716,F,389104,Hari Om Kathiyawadi,55b9c7e9-60b3-44a4-8734-1b40b29ceb74,Ahmedabad,Chandkheda,4,100+ ratings,['North Indian' 'Punjabi' 'Gujarati'],₹400 FOR TWO,72,72,72,G 7 Devprit Complex Opposite Vishwakarma Colle...,Chandkheda,False,False,NaN
717,F,58818,Test Of Spice,dfd8b99a-d6d9-48ef-852a-cfe5ded31561,Ahmedabad,Motera,4.1,100+ ratings,['North Indian' 'Fast Food' 'South Indian'],₹200 FOR TWO,79,79,79,Ground Floor Shop no.21 Sangath Mall - 1 Opp. ...,Chandkheda,False,False,NaN
718,F,425161,Rolls and Rolls and More,2c214c86-c89a-44e9-8576-443440284deb,Ahmedabad,Chandkheda,--,Too Few Ratings,['Chinese' 'Snacks'],₹300 FOR TWO,77,77,77,New CG Rd Nigam Nagar Motera Ahmedabad Gujarat...,Chandkheda,False,False,NaN

In [8]:
df1.isnull().sum()

type                    0
id                      0
name                    0
uuid                    0
city                    0
area                    0
avgRating               0
totalRatingsString      0
cuisines                0
costForTwoStrings       0
deliveryTime            0
minDeliveryTime         0
maxDeliveryTime         0
address                 2
locality                2
unserviceable           0
veg                     0
City                  719
dtype: int64

In [9]:
df1

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
0,F,37933,Faasos - Wraps & Rolls,6fe9caf1-02a7-4e66-83bb-1b4ff296b683,Ahmedabad,Vastrapur,4.2,500+ ratings,['Combo' 'Snacks' 'Beverages' 'Desserts' 'Indi...,₹200 FOR TWO,44,44,44,SHOP NO 2 HOTEL SHAHI PALACE VASTRAPUR LAKE AH...,HOTEL SHAHI PALACE,False,False,NaN
1,F,81814,Burger King,10083576-d32d-4a0e-8a82-3236ef342a19,Ahmedabad,Ellisbridge,4.2,1000+ ratings,['American' 'Fast Food'],₹350 FOR TWO,33,33,33,SHOP # 5 GR FLR THIRD EYE 2PANCHAVATI CIRCLE O...,3rd Eye II Ellis Bridge CG Road,False,False,NaN
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],₹200 FOR TWO,28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN
3,F,328315,HIIT Meals,81ab4019-2445-4aef-aff2-04beccd641d9,Ahmedabad,Vishala,--,Too Few Ratings,['Fast Food' 'Combo' 'Snacks' 'North Indian' '...,₹150 FOR TWO,51,51,51,C11 Rajyash Rise Near Vishala Restaurant Vasna...,Vasna,False,False,NaN
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],₹250 FOR TWO,29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,F,386004,Sher-e-punjab dhaba,907b012b-191e-42fc-b0e6-abd9577b760e,Ahmedabad,Chandkheda,3.3,20+ ratings,['Punjabi' 'Indian'],₹300 FOR TWO,82,82,82,Sher E Punjab Hotel Opp IOC D Cabin Sabarmati...,Chandkheda,False,False,NaN
715,F,179449,Jay Ambe Bhajipav And Pulav,6fcce966-c12b-4268-8094-bc8a3e5f543f,Ahmedabad,Motera,4,20+ ratings,['Fast Food'],₹200 FOR TWO,73,73,73,SHOP NO.16 DEVPREET COMPLEX OPP. VISHWAKARMA E...,MOTERA,False,False,NaN
716,F,389104,Hari Om Kathiyawadi,55b9c7e9-60b3-44a4-8734-1b40b29ceb74,Ahmedabad,Chandkheda,4,100+ ratings,['North Indian' 'Punjabi' 'Gujarati'],₹400 FOR TWO,72,72,72,G 7 Devprit Complex Opposite Vishwakarma Colle...,Chandkheda,False,False,NaN
717,F,58818,Test Of Spice,dfd8b99a-d6d9-48ef-852a-cfe5ded31561,Ahmedabad,Motera,4.1,100+ ratings,['North Indian' 'Fast Food' 'South Indian'],₹200 FOR TWO,79,79,79,Ground Floor Shop no.21 Sangath Mall - 1 Opp. ...,Chandkheda,False,False,NaN
718,F,425161,Rolls and Rolls and More,2c214c86-c89a-44e9-8576-443440284deb,Ahmedabad,Chandkheda,--,Too Few Ratings,['Chinese' 'Snacks'],₹300 FOR TWO,77,77,77,New CG Rd Nigam Nagar Motera Ahmedabad Gujarat...,Chandkheda,False,False,NaN

In [10]:
df1.dropna()
df1.isnull().sum()

type                    0
id                      0
name                    0
uuid                    0
city                    0
area                    0
avgRating               0
totalRatingsString      0
cuisines                0
costForTwoStrings       0
deliveryTime            0
minDeliveryTime         0
maxDeliveryTime         0
address                 2
locality                2
unserviceable           0
veg                     0
City                  719
dtype: int64

In [11]:
df1['area'].value_counts()

Navrangpura             133
Vastrapur                94
Ellisbridge              50
Maninagar                45
Naranpura                30
                       ...
Odhav                     1
Prahlad nagar             1
Noble Nagar Tenament      1
Shah-E-Alam Roja          1
Ghodasar                  1
Name: area, Length: 81, dtype: int64

In [12]:
df1.columns

Index(['type', 'id', 'name', 'uuid', 'city', 'area', 'avgRating',
       'totalRatingsString', 'cuisines', 'costForTwoStrings', 'deliveryTime',
       'minDeliveryTime', 'maxDeliveryTime', 'address', 'locality',
       'unserviceable', 'veg', 'City'],
      dtype='object')

In [13]:
df11=df1[['type', 'id', 'name', 'area','city' ,'avgRating', 'cuisines', 'costForTwoStrings', 'deliveryTime', 'minDeliveryTime', 'maxDeliveryTime', 'address', 'locality', 'unserviceable', 'veg']]

### Veg Restaurant in Ahmedabad

In [14]:

dfveg=df1[(df1['veg']==True)]

In [15]:
dfveg

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],₹200 FOR TWO,28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],₹250 FOR TWO,29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN
5,F,140314,Jalaram Parotha House,e6ba1c33-66b6-45a2-8860-6ccde126da9a,Ahmedabad,Paldi,3.9,20+ ratings,['North Indian' 'Gujarati'],₹450 FOR TWO,28,28,28,1214 Sahjanand Trade Centre Opposite Kothawala...,Paldi,False,True,NaN
8,F,58425,Modi Sandwich And Pizza-Paldi,8a2f0036-5850-4a1a-83c6-767310eb6513,Ahmedabad,Paldi,3.9,1000+ ratings,['Fast Food' 'Beverages'],₹250 FOR TWO,33,33,33,1 Abhishek Bhatta Paldi Ahmedabad,Paldi,False,True,NaN
12,F,40844,Hocco Eatery,1332292b-13d3-4a93-9988-f168e356ea27,Ahmedabad,Gulbai Tekra,4.4,50+ ratings,['North Indian' 'Pizzas'],₹400 FOR TWO,29,29,29,Havmor Panchvati C.G.Road Ahmedabad - 380006,Panchvati,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,F,338386,SHREE ATALJI KHANA KHAJANA,87e8d2a5-0e51-4aef-966e-8726bd6cd557,Ahmedabad,Vastral,3.9,20+ ratings,['North Indian'],₹200 FOR TWO,73,73,73,A-10 Pushp Campus Nr Metro Station Vastral Ahm...,Vastral,False,True,NaN
706,F,451121,ANNAPURNA KITCHEN,98421da7-35ee-4065-aba2-a6aefddd98b4,Ahmedabad,Vastral,--,Too Few Ratings,['Indian' 'Chinese' 'Thalis'],₹300 FOR TWO,72,72,72,BLOCK NO-A- G/ F-10 PUSHP BUSINESS CAMPUSOPP.S...,Vastral,False,True,NaN
707,F,418077,ASHIRWAD DINING HALL,6af22dda-0dc4-44d4-a1e3-f0de24649d9f,Ahmedabad,Vastral,--,Too Few Ratings,['Indian' 'Chinese'],₹200 FOR TWO,75,75,75,BLOCK NO-A- G/F-10 PUSHP BUSINESS CAMPUSOPP.SH...,Vastral,False,True,NaN
712,F,191644,Chandravilas Corner,1df53060-62c2-4384-8dba-6abb29ac67cf,Ahmedabad,Gidc Naroda,--,Too Few Ratings,['Gujarati' 'Fast Food'],₹150 FOR TWO,84,84,84,J.P. Complex Near Police Station National High...,Naroda,False,True,NaN
713,F,91536,Kamal's Restaurant,5a340e6d-c8bf-4561-910f-ab63b15a7aef,Ahmedabad,Gidc Naroda,3.6,20+ ratings,['Indian' 'North Indian' 'Chinese' 'Punjabi' '...,₹350 FOR TWO,84,84,84,shop 126-226 neelkanth paradise near galaxy ci...,Naroda,False,True,NaN

In [16]:
dfveg.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Ahmedabad/VegFoodAhmedabad.csv',index=None)

In [17]:
df1['CostForTwo']=df1['costForTwoStrings'].astype(str).apply(lambda x : x.split(' ')[0])
df1=df1.drop(['costForTwoStrings'],axis='columns')
cols=['CostForTwo']
for col in cols:
    df1[col] = df1[col].map(lambda x: str(x).lstrip('₹')).astype(float)

<ipython-input-17-ad1a199bcc95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['CostForTwo']=df1['costForTwoStrings'].astype(str).apply(lambda x : x.split(' ')[0])

In [18]:
df1

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City,CostForTwo
0,F,37933,Faasos - Wraps & Rolls,6fe9caf1-02a7-4e66-83bb-1b4ff296b683,Ahmedabad,Vastrapur,4.2,500+ ratings,['Combo' 'Snacks' 'Beverages' 'Desserts' 'Indi...,44,44,44,SHOP NO 2 HOTEL SHAHI PALACE VASTRAPUR LAKE AH...,HOTEL SHAHI PALACE,False,False,NaN,200.0
1,F,81814,Burger King,10083576-d32d-4a0e-8a82-3236ef342a19,Ahmedabad,Ellisbridge,4.2,1000+ ratings,['American' 'Fast Food'],33,33,33,SHOP # 5 GR FLR THIRD EYE 2PANCHAVATI CIRCLE O...,3rd Eye II Ellis Bridge CG Road,False,False,NaN,350.0
2,F,107046,Mahalaxmi Pav Bhaji,fbfe3bfa-03fd-4708-b913-06e2c9ee9639,Ahmedabad,Ellisbridge,4.3,500+ ratings,['North Indian'],28,28,28,GF 9/10 Dev complexnear parimal charasta opp. ...,C G Road,False,True,NaN,200.0
3,F,328315,HIIT Meals,81ab4019-2445-4aef-aff2-04beccd641d9,Ahmedabad,Vishala,--,Too Few Ratings,['Fast Food' 'Combo' 'Snacks' 'North Indian' '...,51,51,51,C11 Rajyash Rise Near Vishala Restaurant Vasna...,Vasna,False,False,NaN,150.0
4,F,108879,Jay Jalaram Parotha House,994e73e1-7c7c-4ad9-87e7-ecfecd4e36fa,Ahmedabad,Ellisbridge,3.9,100+ ratings,['North Indian'],29,29,29,Capital Commercial Centre Near UCO Bank Ashram...,Ashram Road,False,True,NaN,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,F,386004,Sher-e-punjab dhaba,907b012b-191e-42fc-b0e6-abd9577b760e,Ahmedabad,Chandkheda,3.3,20+ ratings,['Punjabi' 'Indian'],82,82,82,Sher E Punjab Hotel Opp IOC D Cabin Sabarmati...,Chandkheda,False,False,NaN,300.0
715,F,179449,Jay Ambe Bhajipav And Pulav,6fcce966-c12b-4268-8094-bc8a3e5f543f,Ahmedabad,Motera,4,20+ ratings,['Fast Food'],73,73,73,SHOP NO.16 DEVPREET COMPLEX OPP. VISHWAKARMA E...,MOTERA,False,False,NaN,200.0
716,F,389104,Hari Om Kathiyawadi,55b9c7e9-60b3-44a4-8734-1b40b29ceb74,Ahmedabad,Chandkheda,4,100+ ratings,['North Indian' 'Punjabi' 'Gujarati'],72,72,72,G 7 Devprit Complex Opposite Vishwakarma Colle...,Chandkheda,False,False,NaN,400.0
717,F,58818,Test Of Spice,dfd8b99a-d6d9-48ef-852a-cfe5ded31561,Ahmedabad,Motera,4.1,100+ ratings,['North Indian' 'Fast Food' 'South Indian'],79,79,79,Ground Floor Shop no.21 Sangath Mall - 1 Opp. ...,Chandkheda,False,False,NaN,200.0
718,F,425161,Rolls and Rolls and More,2c214c86-c89a-44e9-8576-443440284deb,Ahmedabad,Chandkheda,--,Too Few Ratings,['Chinese' 'Snacks'],77,77,77,New CG Rd Nigam Nagar Motera Ahmedabad Gujarat...,Chandkheda,False,False,NaN,300.0

In [19]:
df21=df1[['name','city','area','avgRating','minDeliveryTime','CostForTwo']]

In [20]:
df21.drop(df21[(df21['avgRating'] =='--')].index, inplace=True)

C:\Users\parsh\Anaconda\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
df212=df21.groupby('area')['name','city','area','avgRating','minDeliveryTime','CostForTwo'].max()

<ipython-input-21-ced602d2c1ba>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df212=df21.groupby('area')['name','city','area','avgRating','minDeliveryTime','CostForTwo'].max()

In [22]:
df212

,name,city,area,avgRating,minDeliveryTime,CostForTwo
area,,,,,,
Acher,Punjabi Food on way,Ahmedabad,Acher,3.7,70,200.0
Ahmedabad,Shiv Shakti Kathiyawadi,Ahmedabad,Ahmedabad,4.6,69,550.0
Ambawadi,Urban Foods Ambawadi,Ahmedabad,Ambawadi,4.5,47,850.0
Bhadra,Paramount Restaurant,Ahmedabad,Bhadra,4.1,38,750.0
Bodakdev,THE ROAST,Ahmedabad,Bodakdev,4.4,48,1200.0
...,...,...,...,...,...,...
Usmanpura,Zodiac by Fortune Landmark,Ahmedabad,Usmanpura,4.1,48,600.0
Vastral,The Fusion Pizza,Ahmedabad,Vastral,4.3,75,500.0
Vastrapur,Wok Palace,Ahmedabad,Vastrapur,4.8,56,900.0
Vatva,Bombay A-One Bhatiyara,Ahmedabad,Vatva,3.7,51,150.0
Vishala,Shakti - The Sandwich Shop - Vishala,Ahmedabad,Vishala,4.4,51,300.0

### Cheapest food in area and name of Restaurant

In [23]:
df31=df21.groupby('area')['name','area','CostForTwo'].min()

<ipython-input-23-fcc31cb431b7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df31=df21.groupby('area')['name','area','CostForTwo'].min()

In [24]:
df31

                                 name       area  CostForTwo
area
Acher             Punjabi Food on way      Acher       200.0
Ahmedabad                 Baker's Den  Ahmedabad       150.0
Ambawadi           Ab Chai Pe Charcha   Ambawadi       100.0
Bhadra           Paramount Restaurant     Bhadra       750.0
Bodakdev      Angithi By Mirch Masala   Bodakdev       300.0
...                               ...        ...         ...
Usmanpura                 Mysore Cafe  Usmanpura       150.0
Vastral    SHREE ATALJI KHANA KHAJANA    Vastral       200.0
Vastrapur                  After Dark  Vastrapur       100.0
Vatva          Bombay A-One Bhatiyara      Vatva       150.0
Vishala                  Healthy Bowl    Vishala       250.0

[68 rows x 3 columns]

In [25]:
df31.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Ahmedabad/Cheapest food Ahmedabad.csv',index=None)

### Costliest food in area and name of Restaurant

In [26]:
df41=df21.groupby('area')['name','area','CostForTwo'].max()

<ipython-input-26-1d9c87bcb4cf>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df41=df21.groupby('area')['name','area','CostForTwo'].max()

In [27]:
df41

                                           name       area  CostForTwo
area
Acher                       Punjabi Food on way      Acher       200.0
Ahmedabad               Shiv Shakti Kathiyawadi  Ahmedabad       550.0
Ambawadi                   Urban Foods Ambawadi   Ambawadi       850.0
Bhadra                     Paramount Restaurant     Bhadra       750.0
Bodakdev                              THE ROAST   Bodakdev      1200.0
...                                         ...        ...         ...
Usmanpura            Zodiac by Fortune Landmark  Usmanpura       600.0
Vastral                        The Fusion Pizza    Vastral       500.0
Vastrapur                            Wok Palace  Vastrapur       900.0
Vatva                    Bombay A-One Bhatiyara      Vatva       150.0
Vishala    Shakti - The Sandwich Shop - Vishala    Vishala       300.0

[68 rows x 3 columns]

In [28]:
df41.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Ahmedabad/Costliest food Ahmedabad.csv',index=None)

In [29]:
df51 =df21.groupby('area')['name','avgRating'].max()

<ipython-input-29-0e3a17704c96>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df51 =df21.groupby('area')['name','avgRating'].max()

In [30]:
df51

                                           name avgRating
area
Acher                       Punjabi Food on way       3.7
Ahmedabad               Shiv Shakti Kathiyawadi       4.6
Ambawadi                   Urban Foods Ambawadi       4.5
Bhadra                     Paramount Restaurant       4.1
Bodakdev                              THE ROAST       4.4
...                                         ...       ...
Usmanpura            Zodiac by Fortune Landmark       4.1
Vastral                        The Fusion Pizza       4.3
Vastrapur                            Wok Palace       4.8
Vatva                    Bombay A-One Bhatiyara       3.7
Vishala    Shakti - The Sandwich Shop - Vishala       4.4

[68 rows x 2 columns]

In [31]:
df51.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Ahmedabad/Best Rated Area Wise Ahmedabad.csv',index=None)

### Best Rated Restaurants with cheapest price in area

In [32]:
df61=pd.merge(df31, df51, on='name', how='inner')
dfk1=df21[['name']]
df61=pd.merge(df61, dfk1, on='name', how='inner')

In [33]:
df61

,name,area,CostForTwo,avgRating
0,Punjabi Food on way,Acher,200.0,3.7
1,Paramount Restaurant,Bhadra,750.0,4.1
2,BOSS Burger,CG Road,500.0,3.9
3,Brick Kitchen - Five Petals,Chanakyapuri,500.0,4.4
4,Cake Dengo Cake Shop,Drive In Road,500.0,4.1
5,Bombay Biryani,Dudheshwar,250.0,3.5
6,Comfy Restaurant,Ghodasar,0.0,4
7,Kamal's Restaurant,Gidc Naroda,350.0,3.6
8,Rajkamal,Girdhar Nagar,550.0,4.2
9,Kanpur Mithai House,Gomtipur,250.0,4.2
10,Surbhi Restaurant,Hatkeshwar,350.0,4.3
11,Aamantran Fast Food,Jivraj Park,250.0,4.3
12,Jalaram,Kalupur,250.0,4.3
13,New Mehfil Restaurant,Madhupura,300.0,4.4
14,Krishna Chinese Bhajipav & Punjabi,Mahadev Nagar Tekra,200.0,3.6
15,New Purohit Chawana And Sweet Mart,Narayan Nagar,200.0,4.1
16,Havmor - The Eatery.,Narol,400.0,4.1
17,Vadilal Ice Creams,Nava Naroda,300.0,4.6
18,Shri Chamunda Bhojnalaya & Kathiyawadi Dhaba &...,Noble Nagar Tenament,300.0,4
19,Jay Shree Sanskar Ice Cream And Lassi Corner,Odhav,200.0,4.4
20,grab and go,Prahlad nagar,250.0,4.3
21,Arabian Hub,Raikhad,350.0,3.8
22,Lazeez,Sardar Colony,250.0,4.1
23,Al-Hamza,Shah-E-Alam Roja,300.0,3.8
24,Wok On Fire,Sindhu Bhavan Road,400.0,4.1
25,Bombay A-One Bhatiyara,Vatva,150.0,3.7

In [34]:
df61.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Ahmedabad/Best Rated & Cheapest food Ahmedabad.csv',index=None)

## Bangalore

In [6]:
df2=df[(df['city']=='Bangalore')]

In [7]:
df2

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
719,F,27677,Leon Grill,d8e45e58-c4f5-4800-8784-d02ccff0cd90,Bangalore,Ashok Nagar,4.4,1000+ ratings,['Arabian' 'Beverages' 'Desserts' 'American'],₹400 FOR TWO,32,32,32,Leon Grill.House of LordsNo;16/1 Shop No;3 Gro...,St Mark'S Rd,False,False,NaN
720,F,237472,Edesia by Freshmenu,6a7adb7d-a642-421a-86b2-65a23594d4ac,Bangalore,Richmond Town,--,Too Few Ratings,['Desserts' 'Bakery' 'Sweets'],₹150 FOR TWO,35,35,35,MAH QUDDUS4th floorNo 2AGA Abdullah streetRich...,Aga Abdullah Street,False,False,NaN
721,F,39066,Amulya Veg Restaurant,964bc65d-ffc3-4bb2-973a-827a9bd53f83,Bangalore,Gandhi Nagar,--,Too Few Ratings,['Chinese' 'Continental' 'Jain' 'North Indian'...,₹350 FOR TWO,39,39,39,274 S C Road Gandhinagar Bangalore 560009,Gandhinagar,False,True,NaN
722,C,65075,homely,7e8d71fa-7a00-49db-8f0f-ce4671c19da9,Bangalore,Koramangala,4.3,1000+ ratings,['Home Food' 'North Indian' 'South Indian' 'Be...,₹200 FOR TWO,52,52,52,No 897/E 80ft. Road landmark: perfect Yamaha s...,80ft. Road,False,False,NaN
723,F,39063,Hotel Navayuga,6677feb1-1287-47cb-97fa-c3cbb706d41e,Bangalore,Majestic,4.3,100+ ratings,['Andhra'],₹400 FOR TWO,35,35,35,1 Aparna Theater Shopping Complex SC Road,SC Road,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,F,159235,Fishland,49de2cd9-41f9-4bfd-a1a9-1920ef95bc32,Bangalore,Gandhi Nagar,4.4,50+ ratings,['Seafood' 'North Indian' 'Chinese'],₹500 FOR TWO,44,44,44,Sujatha Complex 1st Main Gandhinagar Majestic ...,Majestic,False,False,NaN
1661,F,382537,Singh Da Punjabi Dhaba,79850151-1653-499d-bd67-e5a5728d5511,Bangalore,Koramangala,3.8,100+ ratings,['Punjabi' 'Tandoor' 'Chinese'],₹200 FOR TWO,54,54,54,57 1st Main Cross KHB Colony 7th Block Koraman...,Koramangala,False,False,NaN
1662,F,176071,Brahmins' Thatte Idli,87c9b917-77ee-4eb8-8e26-01a901f2153c,Bangalore,Malleshwaram,4.4,500+ ratings,['South Indian' 'Combo'],₹150 FOR TWO,48,48,48,No 15 2nd Main Rd Vyalikaval Lower Palace Orch...,Vyalikaval,False,False,NaN
1663,F,381206,Friends Chinese corner,3f5dd2c0-34cd-46e4-83a1-d28fe70b8637,Bangalore,Rajajinagar,--,Too Few Ratings,['Chinese' 'Kebabs'],₹200 FOR TWO,61,61,61,Friends Chinese Corner 2nd Cross Road D-Block ...,Rajajinagar,False,False,NaN
1664,F,407831,The Handi Crust,b0b27443-ef08-4bc5-bee5-154f89e2ffa8,Bangalore,Halsuru,--,Too Few Ratings,['Indian' 'Chaat'],₹350 FOR TWO,54,54,54,100/19 G MAIN ROAD LAKSHMAMA LAYOUT JOGUPALAYA...,Jogupalya,False,False,NaN

In [8]:
df2.isnull().sum()

type                    0
id                      0
name                    0
uuid                    0
city                    0
area                    0
avgRating               0
totalRatingsString      0
cuisines                0
costForTwoStrings       0
deliveryTime            0
minDeliveryTime         0
maxDeliveryTime         0
address                 2
locality                0
unserviceable           0
veg                     0
City                  946
dtype: int64

In [9]:
df2['area'].value_counts()

Indiranagar              130
Koramangala              124
Ashok Nagar              112
Central Bangalore         71
Basavanagudi              54
                        ...
Halsuru                    1
3rd Block Jayanagar        1
Basaveshwaranagar          1
Rt Nagar                   1
Jayanagar - 3rd Block      1
Name: area, Length: 80, dtype: int64

In [10]:
df22=df2[['type', 'id', 'name', 'area','city' ,'avgRating', 'cuisines', 'costForTwoStrings', 'deliveryTime', 'minDeliveryTime', 'maxDeliveryTime', 'address', 'locality', 'unserviceable', 'veg']]

### Veg Food Bangalore

In [11]:
df2veg=df2[(df2['veg']==True)]

In [12]:
df2veg

,type,id,name,uuid,city,area,avgRating,totalRatingsString,cuisines,costForTwoStrings,deliveryTime,minDeliveryTime,maxDeliveryTime,address,locality,unserviceable,veg,City
721,F,39066,Amulya Veg Restaurant,964bc65d-ffc3-4bb2-973a-827a9bd53f83,Bangalore,Gandhi Nagar,--,Too Few Ratings,['Chinese' 'Continental' 'Jain' 'North Indian'...,₹350 FOR TWO,39,39,39,274 S C Road Gandhinagar Bangalore 560009,Gandhinagar,False,True,NaN
730,F,69773,The Chariot Veg Restaurant,8c0c6304-5bc3-4a75-a906-7e363a2937c9,Bangalore,Ashok Nagar,3.9,20+ ratings,['Chinese' 'South Indian' 'North Indian' 'Dess...,₹400 FOR TWO,35,35,35,30 Residency Road (@ ) Bangalore - 560 025,Residency Road,False,True,NaN
737,F,47493,Hari Super Sandwich,28fa6b8b-ccf7-45bb-9960-253d25859ecd,Bangalore,3rd Block Jayanagar,4,1000+ ratings,['Fast Food' 'Chaat' 'Snacks' 'Pizzas' 'North ...,₹100 FOR TWO,42,42,42,No 177/A 22nd cross 3rd block Jayanagar Bangal...,3rd Block,False,True,NaN
740,F,40443,New Shanti Sagar,ec446513-e3dc-4002-9551-0dfbfee16e38,Bangalore,Rajajinagar,4,1000+ ratings,['South Indian' 'Chinese' 'North Indian' 'Fast...,₹200 FOR TWO,50,50,50,NEAR RAM MANDIR TEMPLENo.430/41 56th Cross3RD...,Bashyam circle,False,True,NaN
748,F,94759,Roti Ghar,c88946a1-f22a-4204-8e73-1c303a95d8af,Bangalore,Basavanagudi,4.1,1000+ ratings,['Chinese' 'South Indian' 'North Indian' 'Dess...,₹400 FOR TWO,48,48,48,#17 Gandhi Bazar main road Basavanagudi Bangal...,Gandhi Bazar main road,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645,F,219460,Go Native,55ba7afb-c1cb-4e4c-950d-926d2708739f,Bangalore,Ashok Nagar,4.2,100+ ratings,['Healthy Food' 'Jain' 'North Indian' 'South I...,₹600 FOR TWO,38,38,38,25 Lavelle Rd Shanthala Nagar Ashok Nagar Beng...,Central Bangalore,False,True,NaN
1647,F,54451,La Heaven,6a56e000-9ed0-4e46-95fe-2fd09a18e1e5,Bangalore,Malleshwaram,4.1,100+ ratings,['Desserts' 'Bakery' 'Beverages'],₹384 FOR TWO,58,58,58,Abhishek complex opposite to KC das sweetsnear...,Sampige Road,False,True,NaN
1651,F,395830,SWAGAT RESTAURANT,14ab7814-cfb6-46e7-ada5-d4fb950cb040,Bangalore,Rajajinagar,4.1,20+ ratings,['Indian' 'Beverages' 'Ice Cream'],₹350 FOR TWO,57,57,57,695 42nd Cross Rd acharyashri mahashraman road...,Rajajinagar,False,True,NaN
1653,F,17077,Maiyas Restaurants,bdc50c5c-8a07-40e2-9a53-a6b4ead48a0c,Bangalore,Jayanagar,4.3,500+ ratings,['South Indian' 'Fast Food'],₹250 FOR TWO,47,47,47,459/30 30th Cross 4th Block Jaynagar B'lore-56...,4th Block,False,True,NaN
1659,F,451110,3 Mangos,ea808afa-a5de-408c-a323-1e3b20ddcfe8,Bangalore,Indiranagar,--,Too Few Ratings,['Beverages' 'Ice Cream'],₹100 FOR TWO,56,56,56,610 2ND MAIN INDIRANAGAR 1ST STAGE WARD NO 80...,Indiranagar,False,True,NaN

In [42]:
df2veg.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Bangalore/VegFoodBangalore.csv',index=None)

In [13]:
df2['CostForTwo']=df2['costForTwoStrings'].astype(str).apply(lambda x : x.split(' ')[0])
df2=df2.drop(['costForTwoStrings'],axis='columns')
cols=['CostForTwo']
for col in cols:
    df2[col] = df2[col].map(lambda x: str(x).lstrip('₹')).astype(float)

<ipython-input-13-1e2bc15e876a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['CostForTwo']=df2['costForTwoStrings'].astype(str).apply(lambda x : x.split(' ')[0])

In [14]:
df221=df2[['name','city','area','avgRating','minDeliveryTime','CostForTwo']]

In [15]:
df221

,name,city,area,avgRating,minDeliveryTime,CostForTwo
719,Leon Grill,Bangalore,Ashok Nagar,4.4,32,400.0
720,Edesia by Freshmenu,Bangalore,Richmond Town,--,35,150.0
721,Amulya Veg Restaurant,Bangalore,Gandhi Nagar,--,39,350.0
722,homely,Bangalore,Koramangala,4.3,52,200.0
723,Hotel Navayuga,Bangalore,Majestic,4.3,35,400.0
...,...,...,...,...,...,...
1660,Fishland,Bangalore,Gandhi Nagar,4.4,44,500.0
1661,Singh Da Punjabi Dhaba,Bangalore,Koramangala,3.8,54,200.0
1662,Brahmins' Thatte Idli,Bangalore,Malleshwaram,4.4,48,150.0
1663,Friends Chinese corner,Bangalore,Rajajinagar,--,61,200.0
1664,The Handi Crust,Bangalore,Halsuru,--,54,350.0

In [16]:
df221.drop(df221[(df221['avgRating'] =='--')].index, inplace=True)

C:\Users\parsh\Anaconda\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
df222=df221.groupby('area')['name','city','area','avgRating','minDeliveryTime','CostForTwo'].max()

<ipython-input-17-707f03e10f25>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df222=df221.groupby('area')['name','city','area','avgRating','minDeliveryTime','CostForTwo'].max()

In [18]:
df222

,name,city,area,avgRating,minDeliveryTime,CostForTwo
area,,,,,,
3rd Block Jayanagar,Hari Super Sandwich,Bangalore,3rd Block Jayanagar,4,42,100.0
Adugodi,Salt - Indian Restaurant Bar & Grill,Bangalore,Adugodi,4.4,60,1300.0
Armane Nagar,Sattvam,Bangalore,Armane Nagar,4.2,53,1200.0
Ashok Nagar,Wow! Momo,Bangalore,Ashok Nagar,4.9,55,1600.0
Azad Nagar,Hotel Bilal Biriyani Centre,Bangalore,Azad Nagar,3.9,58,180.0
...,...,...,...,...,...,...
Vasanth Nagar,The Food Corner,Bangalore,Vasanth Nagar,4.5,55,2500.0
Victoria Layout,Krispy Kreme,Bangalore,Victoria Layout,4.7,35,499.0
Vijayanagar,Swathi Greenland,Bangalore,Vijayanagar,4.4,62,400.0
Viveka Nagar,Maven Kitchen,Bangalore,Viveka Nagar,4.6,50,199.0
Wilson Garden,NAMMA KUDLA RESTAURANT,Bangalore,Wilson Garden,4.2,53,400.0

### Cheapest food in area and name of Restaurant

In [19]:
df311=df221.groupby('area')['name','area','CostForTwo'].min()

<ipython-input-19-80bc5e79d439>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df311=df221.groupby('area')['name','area','CostForTwo'].min()

In [20]:
df311

,name,area,CostForTwo
area,,,
3rd Block Jayanagar,Hari Super Sandwich,3rd Block Jayanagar,100.0
Adugodi,Dhishoom -Dhaba by Salt,Adugodi,250.0
Armane Nagar,Kailash Parbat,Armane Nagar,300.0
Ashok Nagar,Airlines Hotel,Ashok Nagar,100.0
Azad Nagar,Hotel Bilal Biriyani Centre,Azad Nagar,180.0
...,...,...,...
Vasanth Nagar,CHINESE HOT,Vasanth Nagar,150.0
Victoria Layout,Hyderabad Biryaani House,Victoria Layout,170.0
Vijayanagar,Durga Chats club road,Vijayanagar,100.0
Viveka Nagar,Maven Kitchen,Viveka Nagar,199.0
Wilson Garden,A2B Veg,Wilson Garden,300.0

In [21]:
df311.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Bangalore/Cheapest food Bangalore.csv',index=None)

### Costliest food in area and name of Restaurant

In [22]:
df411=df221.groupby('area')['name','area','CostForTwo'].max()

<ipython-input-22-4c08870f7130>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df411=df221.groupby('area')['name','area','CostForTwo'].max()

In [23]:
df411

,name,area,CostForTwo
area,,,
3rd Block Jayanagar,Hari Super Sandwich,3rd Block Jayanagar,100.0
Adugodi,Salt - Indian Restaurant Bar & Grill,Adugodi,1300.0
Armane Nagar,Sattvam,Armane Nagar,1200.0
Ashok Nagar,Wow! Momo,Ashok Nagar,1600.0
Azad Nagar,Hotel Bilal Biriyani Centre,Azad Nagar,180.0
...,...,...,...
Vasanth Nagar,The Food Corner,Vasanth Nagar,2500.0
Victoria Layout,Krispy Kreme,Victoria Layout,499.0
Vijayanagar,Swathi Greenland,Vijayanagar,400.0
Viveka Nagar,Maven Kitchen,Viveka Nagar,199.0
Wilson Garden,NAMMA KUDLA RESTAURANT,Wilson Garden,400.0

In [24]:
df411.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Bangalore/Costliest food Bangalore.csv',index=None)

### GoodRating Restaurants

In [55]:
df511 =df221.groupby('area')['name','avgRating'].max()

<ipython-input-55-5122e18c3547>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df511 =df221.groupby('area')['name','avgRating'].max()

In [56]:
df511

                                                     name avgRating
area
3rd Block Jayanagar                   Hari Super Sandwich         4
Adugodi              Salt - Indian Restaurant Bar & Grill       4.4
Armane Nagar                                      Sattvam       4.2
Ashok Nagar                                     Wow! Momo       4.9
Azad Nagar                    Hotel Bilal Biriyani Centre       3.9
...                                                   ...       ...
Vasanth Nagar                             The Food Corner       4.5
Victoria Layout                              Krispy Kreme       4.7
Vijayanagar                              Swathi Greenland       4.4
Viveka Nagar                                Maven Kitchen       4.6
Wilson Garden                      NAMMA KUDLA RESTAURANT       4.2

[65 rows x 2 columns]

In [57]:
df511.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Bangalore/Best Rated Area Wise Bangalore.csv',index=None)

### Best Rated Restaurants with cheapest price in area

In [58]:
df611=pd.merge(df311, df511, on='name', how='inner')
dfk11=df221[['name','area']]
df611=pd.merge(df611, dfk11, on='name', how='inner')

In [59]:
df611

                             name  CostForTwo avgRating                   area
0             Hari Super Sandwich       100.0         4    3rd Block Jayanagar
1             Hari Super Sandwich       100.0         4            Ashok Nagar
2     Hotel Bilal Biriyani Centre       180.0       3.9             Azad Nagar
3                        7 Plates       350.0       4.3            Benson Town
4                 Sendhoor Coffee       200.0       4.3       Cambridge layout
5              California Burrito       250.0       4.5       Central Banglore
6                   ZED THE BAKER       500.0         4      Central Bengalore
7                   Biryani Blues       400.0       4.2          Church Street
8     Khan Saheb Grills and Rolls       300.0       4.3      Commercial Street
9    Altaf's Chillies Restaurants       250.0       4.3             Cooke Town
10               Vidyarthi Bhavan       150.0       4.3          Gandhi Bazaar
11       Priyadarshini Restaurant       150.0       4.4            Gandhinagar
12               Chinese Nalapaka       200.0       3.9             Guttahalli
13                  Shawarma Time       150.0       4.3              J.C.Nagar
14              Five Star Chicken       300.0       4.3              Jayamahal
15             Sri Udupi Food Hub       199.0       4.3  Jayanagar - 3rd Block
16              Vijayalakshmi Veg       100.0       4.3       Kadugondanahalli
17                Pai Vihar Grand       250.0       4.3           Nagarathpete
18                         Raidan       400.0       3.9             R.T. Nagar
19                 ARMANI KITCHEN       300.0       3.9               Rt Nagar
20              MMA Kabab & Rolls       200.0         4          Sarvagnanagar
21  Upahara Darshini KIMS Canteen       400.0       4.4               VV Puram
22                  Maven Kitchen       199.0       4.6           Viveka Nagar

In [60]:
df611.to_csv('C:/Users/parsh/OneDrive/Desktop/Datasets/Swiggy/Bangalore/Best Rated & Cheapest food Bangalore.csv',index=None)